body {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: minmax(16px, 1fr) minmax(auto, 870px) minmax(16px, 1fr);

    background-color: #f8f8f8;

    color: var(--font-color-primary);
}

body main {
    grid-column: 2 / 3;
}

header {
    grid-column: 1 / 4;
}