body {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: minmax(16px, 1fr) minmax(auto, 620px) minmax(16px, 1fr);

    background-color: #eaedf0;

    color: var(--font-color-primary);
}

body main {
    grid-column: 2 / 3;
}

header {
    grid-column: 1 / 4;

    height: 100vh;

    display: grid;
    grid-template-columns: minmax(16px, 1fr) max-content auto minmax(16px, 2fr);
    grid-template-rows: 1fr auto 1fr;

    background: linear-gradient(#eaedf0, rgb(184, 184, 184));
}
header h1 {
    justify-self: start;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    font-size: var(--font-size-title);
    font-weight: 800;

    margin: 0 8px 0 0;
    padding: 0 8px 0 0;
    height: min-content;

    position: relative;
    z-index: 2;
}

#header-background {
    grid-column: 1 / 5;
    grid-row: 1 / 4;

    display: grid;
    grid-template-columns: minmax(16px, 1fr) minmax(auto, 620px) minmax(16px, 2fr);
    grid-template-rows: auto auto auto auto;

    grid-gap: 1px;

    position: relative;
    z-index: 1;
}
#header-background div {
    background-color: #0B0B0B;

    width: 100%;
    height: 100%;
}