/* GENERAL LINK STYLES, REMOVES UNDERLINES AND NORMALIZES FONT COLORS */
a:link {
    color: var(--font-color-secondary);

    text-decoration: none;
}
a:visited {
    color: var(--font-color-secondary);

    text-decoration: none;
}

footer a:link {
    color: var(--font-color-primary);

    text-decoration: none;
}

footer a:visited {
    color: var(--font-color-primary);

    text-decoration: none;
}

@media screen and (min-width: 526px) { /* REDUCES TITLE SIZE FOR SMALLER DISPLAYS */
    :root {
        --font-size-title: 28px;
    }
}

html { 
    scroll-behavior: smooth; /* KEEP IT SMOOTH, BABY */
}

/* MAIN ARTICLE STYLES */

main p {
    color: var(--font-color-body);
    font-size: 18px;

    margin: 0;

    line-height: 1.75rem;
}

main h2 {
    font-size: 12px;
    font-weight: 500;

    padding: 16px 0 16px 0;
    margin: 0;

    text-transform: uppercase;
    text-decoration: underline;
}

main h3 {
    color: var(--font-color-primary);
    font-size: 22px;
    font-weight: 600;

    margin: 0;
    padding: 0;
}

main article {
    display: grid;
    grid-auto-rows: min-content;
    grid-gap: 12px;
}

main article:not(:last-child) {
    margin-bottom: 64px;
}

main > section {
    margin-bottom: 256px;
}

img {
    width: 100%;
}

/* VIDEO GRID STYLES */

#video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;

    gap: 8px;

    margin-top: 256px;
}

#video-grid iframe:nth-child(1) {
    grid-column: 1 / 3;
}