@import url('normalize.css');
@import url('layout.css');
@import url('header.css');
@import url('main.css');
@import url('footer.css');

* {
    font-family: 'Inter', sans-serif;

    box-sizing: border-box;
}


*:root {
    --font-color-primary: #1f1f1f;
    --font-color-secondary: #252525;
    --font-color-body: #2b2b2b;
    --accent-blue: #00B3DB;
    --accent-blue-bkrd: #00b3db0c;
    --accent-orange: #DB4F00;
    --accent-orange-bkrd: #db500009;
    --accent-pink: #FE4185;
    --accent-pink-bkrd: #fe418610;
    --accent-purple: #bb68ff;
    --accent-purple-bkrd: #b241fe0c;

    --font-size-title: 22px;
}